---
http_interactions:
- request:
    method: post
    uri: https://android.googleapis.com/gcm/send
    body:
      encoding: UTF-8
      string: '<%= payload.as_json %>'
    headers:
      Authorization:
      - key=<% key %>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: '{"multicast_id":6548991881139788460,"success":1,"failure":0,"canonical_ids":1,"results":[{"message_id":"0:1428003070211543%7c7dc9e1f9fd7ecd"}]}'
  recorded_at: Thu, 02 Apr 2015 19:31:10 GMT
recorded_with: VCR 2.9.3
