AWS_REGION: us-west-1
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:

api_endpoint: http://zazo-notification.dev
zazo_domain_name:
secret_key_base:

twilio_from_number: '+16503766005'
twilio_ssid:
twilio_to_number: '+16502453537'
twilio_token:

gcm_api_key:
gcm_uri: https://android.googleapis.com/gcm/send

rollbar_access_token:
newrelic_license_key:

smtp_address: email-smtp.us-east-1.amazonaws.com
smtp_helo_domain_name: zazoapp.com
smtp_user_name:
smtp_password:
smtp_port: '587'

sqs_queue_url:

notification_password:
renotification_password:
friendfinder_password:

rspec_profile_examples: false

test:
  api_endpoint: http://localhost:8000

production:
  secret_key_base:
  notification_password:
  renotification_password:
