AWS_REGION: us-west-1
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:

api_endpoint: http://zazo-notification.dev
secret_key_base:

twilio_from_number: '+16503766005'
twilio_ssid:
twilio_to_number: '+16502453537'
twilio_token:

rollbar_access_token:
newrelic_license_key:
newrelic_api_key:

smtp_address: email-smtp.us-east-1.amazonaws.com
smtp_helo_domain_name: zazoapp.com
smtp_user_name:
smtp_password:
smtp_port: '587'

sqs_queue_url:

rspec_profile_examples: false

test:
  api_endpoint: http://localhost:8000

production:
  secret_key_base:
